$font-family-base: 'Alertie', '微軟正黑體', 'Microsoft JhengHei', 'Noto Sans TC', '微軟雅黑',
  'sans-serif';

$color-primary: #00367c;
$color-secondary: #006064;
$color-bg: #d7e4fa;

$input-max-height: 30px;
